CHOWKI_ENV=production
CHOWKI_DEBUG=false
CHOWKI_CORS_ORIGINS=*
CHOWKI_JWT_SECRET=chowki-surveillance-prod-secret-key-32-bytes-min-2026!
CHOWKI_JWT_ALGORITHM=HS256
CHOWKI_TOKEN_EXPIRE_MINUTES=60
CHOWKI_SALT_SEED=chowki-weekly-rotating-salt-2026
CHOWKI_STPSS_MC_RUNS=999
CHOWKI_STPSS_P_THRESH=0.05
CHOWKI_STPSS_BIN_HOURS=4
CHOWKI_K_ANONYMITY=5
CHOWKI_CHLORINE_THRESH=0.2
CHOWKI_CHLORINE_TARGET=0.5
CHOWKI_TURBIDITY_THRESH=4.0
